<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <roleManager enabled="true" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />

    <pages theme="Blue">
    </pages>

    <membership>
      <providers>
        <remove name="AspNetSqlMembershipProvider" />
        <add name="AspNetSqlMembershipProvider"
        type="System.Web.Security.SqlMembershipProvider"
        connectionStringName="LocalSqlServer"
        enablePasswordRetrieval="false"
        enablePasswordReset="true"
        requiresQuestionAndAnswer="false"
        applicationName="/"
        requiresUniqueEmail="false"
        passwordFormat="Hashed"
        maxInvalidPasswordAttempts="10"
        minRequiredPasswordLength="4"
        minRequiredNonalphanumericCharacters="0"
        passwordAttemptWindow="10" />
      </providers>
    </membership>

    <authentication mode="Forms" />

    <!--<authorization>
      <deny users="?" />
    </authorization>-->
  </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="DefaultEmail" value="default@email.com" />
  </appSettings>



  <!-- Only administrators may access AdminTools.aspx -->
  <location path="AdminTools.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrator, Owner" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>


  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>



  <location path="SignUp.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  
  
  <location path="SearchRecipe.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="AddRecipe.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>


  <connectionStrings>
    <add name="Assignment4"
    connectionString="Server=localhost\SqlExpress;Database=Assignment4;Integrated Security=True"
    providerName="System.Data.SqlClient"/>

    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer"
      connectionString="Server=localhost\SqlExpress;Database=Assignment4;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
